@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
.chosose{
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.chooseH1{
    box-shadow: rgb(20, 233, 86) 0px 0px 4px 1px inset;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    color: rgb(20, 233, 86);
    background: rgb(18, 20, 29);
    border-radius: 12px;
    padding: 0.8rem 2rem;
    border: 4px solid rgb(20, 233, 86);
    animation: flotar 5s ease-in-out infinite;
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: 6000;
    font-style: normal;
}
.chosep{
    width: 20rem;
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}