section{
    width: 100%;
    height: 100vh;
}
.tittleEdu{
    display: none;
}
.titleE{
    font-size: 5rem;
}
.tittleinglesh{
    font-size: 4rem;
}
.box-ed{
    background-color: black;
    width: 100%;
}
.skillSocials{
    font-size: 1rem;
}
.li{
    margin: 1rem;
}
.skill{
    color: green;  /* Cambiar color del texto a verde */
    font-weight: bold; /* Opcional: para que se vea más destacado */
  }

.fooS{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0A2E23;
    width: 100%;
}
.contact-container2{
    width: 50%;
    padding: 2rem;
    text-align: center;
    background-color:#0A2E23;
}
.li, .inglish, .skillSocials {
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    margin: 1rem 0;
    color: white;
}
@media(max-width: 852px){
    .fooS{
        flex-wrap: wrap;
    }
  
    .contact-container2{
        position: relative;
        left: -2rem;
    }
}