.box-toolin-big{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin-top: 4rem;
}



.box-toolin{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30rem;
    background: rgb(12, 140, 52);
    border-radius: 15px;
    padding: 0.5rem;
    box-shadow: rgb(20, 233, 86) 0px 0px 4px 1px ;
    border: 4px solid rgb(20, 233, 86);
    animation: flotar 2s ease-in-out infinite;
}

h2{
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  
}
.title-skill{    align-items: center;
    box-shadow: rgb(20, 233, 86) 0px 0px 4px 1px inset;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
   color:rgb(20, 233, 86) ;
    background: rgb(18, 20, 29);
    border-radius: 12px;
    padding: 0.8rem 2rem;
    border: 4px solid rgb(20, 233, 86);
    animation: flotar 2s ease-in-out infinite;
}

@keyframes flotar {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}