:root {
    --fondos:#0A2E23;
    --destacados:#88D498;
}



ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.li{
    list-style: none;
    margin: 3rem;
    color:  white;
    
}
.inglish{
    list-style: none;
    margin: 3rem;
    color:  white;
    margin-left: -.1rem;
    width: 100vw;
}
.box-education{
    flex-wrap: wrap;
    background-color: var(--fondos);
    width: 100%;
}
.tittle-education{
    color: var(--destacados);
    text-transform: uppercase;
    font-size: 4rem;
}
h3{
    color: var(--destacados);
    text-transform: uppercase;
    text-align: center;
}
@media (max-width: 768px){
    .box-education{
        flex-wrap: wrap;
        background-color: var(--fondos);
        width: 100%;
    }
}