:root {
    --fondos:#0A2E23;
    --destacados:#88D498;
}



ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.li{
    list-style: none;
    gap: 2rem;
    margin: 3rem;
    color:  white;
}

.box-education{
    flex-wrap: wrap;
    background-color: var(--fondos);
    width: 100vw;
}
h2{
    color: var(--destacados);
    text-transform: uppercase;
}