ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.li{
    list-style: none;
    gap: 2rem;
    margin: 3rem;
    color:  white;
}

.box-education{
    flex-wrap: wrap;
    background-color: rgba(18, 177, 68, 0.562);
    width: 100%;
}