/* Projects.css */
.carousel-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
    background-color: #0A2E23;
    color: white;
  }
  
  .carousel-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: white;
  }
  
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    position: relative;
  }
  
  .carousel-item {
    position: absolute;
    width: 80%;
    max-width: 800px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    visibility: hidden;
  }
  
  .carousel-item.active {
    opacity: 1;
    visibility: visible;
  }
  
  .carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 70px;
    cursor: pointer;
    z-index: 2;
    transition: all 0.3s ease;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 0 20px rgba(0, 0, 0, 0.3);
    line-height: 60px; /* Ajusta la alineación vertical del texto */
  }
  
  .carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6), 0 0 25px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
  }
  
  .carousel-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 0 15px rgba(0, 0, 0, 0.3);
  }
  
  .carousel-button.prev {
    left: 20px;
    position: absolute;
  }
  
  .carousel-button.next {
    right: 20px;
    position: absolute;
  }
  
  .carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #555;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .dot.active {
    background-color: white;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  }
  
  /* ItemProjects.css */
  .project-card {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
  }
  
  .project-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .project-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5), transparent);
    padding: 1.5rem;
    color: white;
    transform: translateY(30%);
    transition: transform 0.3s ease;
  }
  
  .project-card:hover .project-overlay {
    transform: translateY(0);
  }
  
  .project-overlay h3 {
    margin: 0 0 0.5rem;
    font-size: 1.5rem;
  }
  
  .project-overlay p {
    margin: 0 0 1rem;
    font-size: 1rem;
    color: rgb(0, 0, 0); /* Cambiado a blanco para mejor contraste */
  }
  
  .project-button {
    background-color: #00FF00;
    color: black; /* Cambiado a negro para mejor contraste */
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 255, 0, 0.2);
  }
  
  .project-button:hover {
    background-color: #012e01;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 0 15px rgba(0, 255, 0, 0.3);
  }
  
  @media (max-width: 768px) {
    .carousel-item {
      width: 90%;
    }
    
    .project-overlay {
      transform: translateY(0);
      padding: 1rem;
    }
    
    .project-overlay h3 {
      font-size: 1.2rem;
    }
    
    .project-overlay p {
      font-size: 0.8rem;
    }
    
    .carousel-button {
      width: 50px;
      height: 50px;
      font-size: 40px;
      line-height: 40px;
    }
  }