.contact-container1{
    width: 50%;
    padding: 2rem;
    text-align: center;
    background-color:black;
}
.fotter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100vw;
    flex-wrap: wrap;
}
.footerP{
    color: white;
    font-size: 2rem;
    padding-right: 40px;
    padding-left: 40px;
}
@media(max-width: 852px){
    .fotter{
        flex-wrap: wrap;
        width: 30rem;
    }
    .footerP{
    border-bottom: 1px solid whitesmoke;
    }
    /* .contact-container1{
        position: relative;
        left: -2rem;
    } */
}
@media(max-width: 800px){
    .contact-container1{
        position: relative;
        left: -1rem;
}}


@media(max-width: 1790px){

.fotter{
    width: 100vw;
}
}